<mat-nav-list>
  <a *ngIf="!isAuthenticated"
    routerLink="/signup"
    (click)="onCloseSideNav()"
    mat-list-item>
    <mat-icon>
      person_add
    </mat-icon>
    <span class="nav-caption">
      Signup
    </span>
  </a>
  <a *ngIf="!isAuthenticated"
    routerLink="/login"
    (click)="onCloseSideNav()"
    mat-list-item>
    <mat-icon>
      login
    </mat-icon>
    <span class="nav-caption">
      Login
    </span>
  </a>
  <a *ngIf="isAuthenticated"
    routerLink="/training"
    (click)="onCloseSideNav()"
    mat-list-item>
    <mat-icon>
      fitness_center
    </mat-icon>
    <span class="nav-caption">
      Training
    </span>
  </a>
  <mat-list-item *ngIf="isAuthenticated" (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>
        logout
      </mat-icon>
      <span class="nav-caption">
        Logout
      </span>
    </button>
  </mat-list-item>
</mat-nav-list>
